---
layout: layouts/base.njk
title: Kevin Knoll develops the web
description: Kevin is a Specialized Generalist, focused on integrating APIs and connecting systems.
---
<article>
	<h1>My name is Kevin Knoll and I develop the web.</h1>
	<p>I&rsquo;m a Specialized Generalist, focused on integrating APIs and connecting systems. Nowadays, I build primarily in WordPress and Drupal, but over the course of my 16-year career, I have worked with countless other languages and technologies.</p>
	<h2>Tenure</h2>
	<ol>
		<li>Developer-turned-manager at <a href="https://jpl.agency/">JPL</a>, since 2012.</li>
		<li><a href="https://www.digitalpulp.com/">Digital Pulp</a> from 2010 to 2012.</li>
		<li>Computer Applications Unlimited from 2007 to 2010.</li>
	</ol>
	<h2>Tech</h2>
	<ul>
		<li>Mostly WordPress, some Drupal</li>
		<li>Sprinkles of Vue and Angular</li>
		<li>A few Android and iOS apps in Cordova</li>
	</ul>
</article>