---
layout: layouts/base.njk
title: Kevin Knoll's Resume
description: Kevin has over 16 years of experience of development and management experience. Here is his resume.
---
<article>
	<h1>My name is Kevin Knoll and this is my resume.</h1>
	<p>I have over 16 years of experience including converting COBOL code into a web application, integrating with dozens of systems, streamlining and standardizing development workflows, and managing direct reports and department goals and budgets. Here is an abbreviated summary. If you have any questions or would like me to elaborate further, drop me a line at <a href="mailto:resume@kevk.dev">resume@kevk.dev</a></p>
	<h2>Experience</h2>
	<ol>
		<li>
			<h3>Assistant Manager, Development</h3>
			<h4><a href="https://jpl.agency/">JPL</a> &ndash; since Jan 2020</h4>
			<ul>
				<li>Take on additional Manager reponsibilities while still performing Senior Interactive Developer duties.</li>
				<li>Meet weekly with direct reports and handle annual compensation increase budget and complete annual performance reviews.</li>
				<li>Work with two other managers to manage work pipeline, budget, and communciations within the department.</li>
				<li>Implement and interate on a standardized Docker workflow for multiple developers on both Mac and Windows.</li>
				<li>
					Developed a suite of WordPress plugins for franchise-based businesses.
					<ul>
						<li>access control allowing corporate users to limit what content a franchisee can create and edit</li>
						<li>dynamic "hyper local pages" created on the fly for over 40,000 cities in the United States and Canada</li>
						<li>automated sync to create new locality and franchise pages</li>
						<li>dynamic lead generation form with smart attribution - single form to manage, but leads are attributed based on form placement and website visitor's "local franchise"</li>
					</ul>
				</li>
				<li>Act as a technical consultant and provide support for other developers.</li>
			</ul>
		</li>
		<li>
			<h3>Senior Interactive Developer</h3>
			<h4><a href="https://jpl.agency/">JPL</a> &ndash; May 2012 &mdash; Jan 2020</i></h4>
			<ul>
				<li>Built and maintained a varient of client webistes, primarily using WordPress and Drupal.</li>
				<li>Built several Facebook apps, Android and iOS apps, and internal scheduling and resourcing tools.</li>
				<li>Archetyped the transition from SVG to Git. Implemented a new Continuous Integration workflow</li>
				<li>Supported with web deployments and server configuration and uptime and reliability.</li>
				<li>Developed a WordPress plugin to display business locations on a map with Google Places searches and postal code geolocation. This plugin has been implemented on about a dozen sites and also supplements location data within WordPress with external data from CRMs and custom APIs.</li>
				<li>Built data collection website in WordPress (with Gravity Forms and Gravity Flow) that is used to collect data from over 200 companies and enforces an approval workflow where the data must be approved by collegues and then the website owner. Also includes yearly conversion of data into an archive, historical reporting, audit trails, and widgets used to embed data into a third-party site.</li>
				<li>Implemented load balancing on high-availability website used to support multiple live events. Tested and configured using OctoPerf.</li>
				<li>Integrated with SmarterCommerce, Google Maps, Oracle ERP, Mailchimp, Salesforce, Facebook SDK, Microsoft Dynamics (ClickDimensions), Auth0, Azure SSO, Amazon Web Services.</li>
			</ul>
		<li>
			<h3>Senior Web Developer</h3>
			<h4><a href="https://www.digitalpulp.com/">Digital Pulp</a> &ndash; July 2010 &mdash; May 2012</h4>
			<ul>
				<li>Developed and maintained client websites using a variety of tools including Magento, Radiant (Ruby on Rails), and WordPress.</li>
				<li>Integrated with PayPal and Mailchimp.</li>
			</ul>
		</li>
		<li>
			<h3>Web Developer</h3>
			<h4>Computer Applications Unlimited &ndash; Sep 2007 &mdash; June 2010</h4>
			<ul>
				<li>Converted legacy Home Medical Equipment (HME) billing software originally written in COBOL into a modern web application ins Java Server Pages (JSP).</li>
				<li>Added additional integrations including web-based faxing, UPS logistics, and mapping.</li>
			</ul>
		</li>
	</ol>
	<h2>Education</h2>
	<div>
		<h3>Associate in Specialized Technology, Software Applications and Programming</h3>
		<h4>ITT Technical Institute &ndash; 2005 &mdash; 2007</h4>
		<ul>
			<li>Studied Visual Basic, Microsoft Access, Java, and Java Server Pages (JSP)</li>
			<li>Developed several applications including a Sudoku solver and a Java-based web socket server used for chat and turn-based gaming server.</li>
		</ul>
	</div>
</article>